<html>
	<head>
	
		<link rel="stylesheet" href="static/pubstyle.css" >
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<title>publisher</title>
	</head>

	<body>

		<div class="head"><h1>PUBLISHER</h1></div>

		<div class="form">
			<form method="POST" action="">
  				<label class="namelabel" for="name">Name:</label>
				<input class="name" type="name" id="name" name="name"></input><br><br>
 		 
				<label class="addlabel" for="address">Address:</label>
  				<input class="add" type="address" id="address" name="address">
				</input><br><br>
		
				<label class="numberlabel" for="phone">Phone Number:</label>
				<input class="no" type="phone" id="phone" name="phone"></input><br><br>

  				<button type="submit">SUBMIT</button>
   			</form>
		</div>

	</body>

</html>